/************* IMPORTS DE POLICES ****************/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/************* VARIABLES CSS ****************/
:root {
  --primary: #961c02;
  --gris1: #010101;
  --gris2: #5c5b5b;
  --gris3: #999897;
  --blanc: #ffffff;
  --background: #f5f5f5;
}

/******************* TYPOGRAPHIE *****************/
h1 {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 3.25rem;
  color: var(--gris1);
}

h2,
h3,
.card-title {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--primary);
}

p{
  color: var(--gris2);
}

.text-primary {
  color: var(--primary) !important;
}

/******************* COULEURS & EFFETS VISUELS *****************/

.white {
  background-color: var(--blanc);
}
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
}
.main {
  background-color: var(--background);
}

/******************** NAVBAR **********************/

.navbar-brand {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1, 125rem;
}

.navbar-nav .nav-link {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Colore le nom de page active en blanc dans le menu */
.active-page {
  color: white;
  font-weight: bold;
}

/* colore la barre de navigation ayant cette classe en orange */
.bg-custom-orange {
  background-color: #b37708; /* Ceci est le code hexadécimal pour la couleur orange */
}

/******************** CARDS ********************/
.card {
  border: none;
  border-radius: 0;
  height: 600px;
}

.card .card-title {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--primary);
  text-decoration: none;
}
.card .card-body {
  padding-bottom: 0;
  height: 400px;
}

.card-body a {
  text-decoration: none;
}

.card p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--gris2);
}

/****** CARDS XL *****/
.card .card-xl {
  font-size: 1.05rem;
}
.card .card-xl .card-title {
  font-size: 1.7rem;
}
.card .card-xl p {
  font-size: 1rem;
}

/****** CARDS SM *****/
.card .card-xl {
  font-size: 0.8rem;
  color: var(--gris2);
  line-height: 2rem;
}
.card.card-sm h5 {
  font-size: 0, 6rem;
}
.card.card-sm .card-title {
  font-size: 0.9rem;
}
.card.card-sm p {
  font-size: 0.6rem;
}

.custom-image {
    max-width: 400px; /* Largeur maximale de 400px */
    height: auto;    /* Hauteur automatique pour maintenir les proportions */
}
